<nav class="navbar navbar-expand-sm border-bottom border-body" data-bs-theme="dark" >
    <div class="container" >
        <ul class="navbar-nav mx-auto d-flex align-items-center">
            <li class="nav-item">
                <img src="../assets/logo.png" alt="Logo de l'entreprise" style="width: 90px; height: auto; margin-right: 20px;">
            </li>
            <li class="nav-item">
                <a routerLink="dashboard" routerLinkActive="active" class="nav-link" style="font-size: 20px;">Tableau de bord</a>
            </li>
            <li class="nav-item">
                <a routerLink="manufacturers" routerLinkActive="active" class="nav-link" style="font-size: 20px;">Fabricants</a>
            </li>
            <li class="nav-item">
                <a routerLink="distributors" routerLinkActive="active" class="nav-link" style="font-size: 20px;">Distributeurs</a>
            </li>
            <li class="nav-item">
                <a routerLink="pharmacies" routerLinkActive="active" class="nav-link" style="font-size: 20px;">Pharmacies</a>
            </li>
            <li class="nav-item">
                <a routerLink="transactions" routerLinkActive="active" class="nav-link" style="font-size: 20px;">Transactions</a>
            </li>
            <li class="nav-item">
                <a routerLink="product-verification" routerLinkActive="active" class="nav-link" style="font-size: 20px;">Vérification produit</a>
            </li>
            <li class="nav-item">
                <a routerLink="reports" routerLinkActive="active" class="nav-link" style="font-size: 20px;">Rapports</a>
            </li>
            <li class="nav-item">
                <a routerLink="settings" routerLinkActive="active" class="nav-link" style="font-size: 20px;">Paramètres</a>
            </li>
        </ul>
    </div>
</nav>





<!-- <div class="container"> -->

    <router-outlet></router-outlet>
<!-- </div> -->


<footer class = "footer">
    <div class = "container">
        <div class="text-center text-light p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 MNTec Creations. All Rights Reserved.
            <a class="text-light" href="https://mntec-creations.com/">mntec-creations.com</a>
          </div>
        
    </div>
</footer>

