<div class="container mt-5 text-center">
    <h2>Gestion des Transactions</h2>
    
    <!-- Navigation entre les composants -->
    <div class="row">
        <div class="col-12 text-center">
        <!-- Lien pour voir la liste des fabricants -->
        <a class="btn btn-primary btn-lg mx-2" routerLink="list-transactions" routerLinkActive="active">Voir la liste des transactions</a>
        
        <!-- Lien pour ajouter un nouveau fabricant -->
        <a class="btn btn-primary btn-lg mx-2" routerLink="add-transaction" routerLinkActive="active">Ajouter une transaction</a>

      </div>
    </div>


    <!-- Zone pour afficher les composants -->
    <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  